body {
  min-width: 90vw;
  min-height: 90vh;
}

#app {
  /* border: 1px solid red; */
  width: 100%;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center; */
  /* border: 1px solid blue; */
}

.row {
  justify-content: space-evenly;
  width: 100%;
}

.main-container {
  /* border: 1px solid blue; */
}

.main-container .pizzas-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  width: 100%;
}

.main-container .pizzas-grid .pizza {
  text-align: center;
  border: 1px solid gray;
  width: 45%;
  margin-bottom: 3%;
}

.main-container .pizzas-grid .pizza .pizzas-title.veggie::after {
  content: 'V';
  width: 1rem;
  height: 1rem;
  border-radius: 50rem;
  background: green;
}

.main-container .pizzas-grid .pizza .pizza-img {
  width: 100px;
  height: 100px;
}

.main-container .pizzas-grid .pizza .button {
  width: 90%;
}

.basket {
  /* width: 25%; */
  /* border: 2px dashed black; */
}

footer {
  border-top: 1px solid gray;
  padding-top: 2%;
  margin-top: 5%;
}